* {
    box-sizing: border-box;
}

body {
    font-family: 'Merriweather', 'Helvetica Neue', Arial, sans-serif;

    padding-top: 40px;

}

/*navbar link working*/
#about{
    visibility: hidden;
}

#menu{
     visibility: hidden;
     
}
#customer{
     visibility: hidden;
     
}
#contact{
     visibility: hidden;
     
}

/*navbar*/


.navbar .navbar-toggler .navbar-toggler-icon {
/*    background-color: black;*/

/*  color: black !important;*/
/*  border-color: black !important;*/
/*  background-color: black !important;*/
/*    border:1px solid black;*/
/*color: #FFF;
    background-color: #CF995F;*/
/*vertical-align: middle;*/
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(0,0,0, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.bg-custom{
    background-color: white;
  box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.09);
}
nav .main-navbar{
        background-color: #fff !important;
}

#navbarbrand {
    padding: 0;
}

#navbarbrand:hover {
    color: #c0996b;
    transition: all 0.3s ease;
}

#navlinks {
   color: rgba(0, 0, 0, 0.5);
    text-transform: uppercase;
    font-weight: 700;
    text-transform: uppercase;
font-size: .9rem;
font-weight: 600;
font-family: "Poppins", sans-serif;
text-shadow: 5px 5px 10px rgba(150, 150, 150, 1);
}

#navlinks:hover {
    color: #c0996b;
    transition: all 0.3s ease;
}

.main-navbar {
    position: relative;
}

.navbar-brand {
    /*    height: auto;*/
    padding: 0px;
}

.navbar-brand>img {
    height: auto;
    /*  padding: 15px;*/
    /*  width: 100%;*/
}


/*667 991*/





.navbar >li >a {
    padding-top: 30px;
    padding-bottom: 30px;
}
.navbar .navbar-toggler {
    padding: 10px;
    margin: 25px 15px 25px 0;
}

.navbar-logo {
    /*    width: 155px;
        height: 80px;
        padding: 0;
        margin: 0;*/


}

@media (max-width: 320px) {

    .navbar-brand {

        padding: 0px;
    }

    .navbar-brand>img {
        height: 80px;

        padding: 15px;
        width: 90%;

    }
}

@media (min-width: 320px) and (max-width: 374px) {

    .navbar-brand {

        padding: 0px;
    }

    .navbar-brand>img {
        height: 80px;

        padding: 15px;
        width: 90%;

    }
}

@media (min-width: 375px) and (max-width: 667px) {
    .navbar-brand {

        padding: 0px;
    }

    .navbar-brand>img {


        height: 80px;

        padding: 15px;
        width: auto;

    }
}

@media (min-width: 667px) and (max-width: 991px) {

    .navbar-brand {

        padding: 0px;
    }

    .navbar-brand>img {


        height: 70px;

        padding: 10px;
        width: auto;

    }
}

.top-nav-collapse{
    /*    padding: 0;
        color: yellow !important;*/
    /*    background-color: white;*/
}


/*pagescroll*/
.page-scroll{
    -webkit-transition-property: -webkit-transform;
    -webkit-transition-duration: 1s;
    -moz-transition-property: -webkit-transform;
    -moz-transition-duration: 1s;

}


/*
.main-navbar .navbar-brand{
      height: 80px;
      
}

.main-navbar .nav >li >a {
  padding-top: 30px;
  padding-bottom: 30px;
}
.main-navbar .navbar-toggle {
  padding: 10px;
  margin: 25px 15px 25px 0;
}*/

.example3 .navbar-brand {
    height: 80px;
}

.example3 .nav >li >a {
    padding-top: 30px;
    padding-bottom: 30px;
}

.example3 .navbar-toggle {
    padding: 10px;
    margin: 25px 15px 25px 0;
}


/*home-header*/

.home-header {
    background-image: url('https://www.howhigh.ca/wp-content/uploads/2015/10/03_Crabby_Joes_h.jpg');
    width: 100%;
    height: 700px;
    background-size: cover;
    background-position: 100% 100%;
    background-repeat: no-repeat;

    position: relative;

}


.home-header .headertext {
    margin: auto;
    text-shadow: 2px 2px 2px rgba(2, 2, 2, 1);
}

.home-header h1 {
    
   
    padding-top: 300px;
    color: white;
    font-weight: bolder;
    font-size: 4rem;
    text-transform: uppercase;
    font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
    font-weight: 400;
    line-height: 1.2;
}

.home-header hr {
    max-width: 50px;
    border-width: 3px;
    border-color: #f05f40;
}

.home-header .paragraphtext {
    margin: auto;

}

.home-header .paragraphtext .paragraph1 {
    font-size: 1.15rem;
    font-weight: 300;
    color: #ECEFF1;
    text-align: center;
    text-shadow: 2px 2px 2px rgba(2, 2, 2, 1);
}

.home-header .paragraphtext .btn-find {
    background-color: #f05f40;
    border-color: #f05f40;
    font-weight: 700;
    text-transform: uppercase;
    border: none;
    border-radius: 300px;
    font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
    display: inline-block;
    white-space: nowrap;
    color: #fff;
    padding: 1rem 2rem;
}

.home-header .paragraphtext .btn-find:hover {
    background-color: #BF360C;
    border-color: #BF360C;
    transition: all 0.3s ease;
}


/*headertext*/




@media (max-width: 320px) {
    .home-header h1 {
        font-size: 1.4em;
    }
}

@media (min-width: 320px) and (max-width: 374px) {
    .home-header h1 {
        font-size: 1.4em;
    }
}

@media (min-width: 375px) and (max-width: 667px) {
    .home-header h1 {
        font-size: 1.6em;
    }
}

@media (min-width: 668px) and (max-width: 767px) {
    .home-header h1 {
        font-size: 2.1em;
    }
}

@media (min-width: 768px) and (max-width: 1024px) {
    .home-header h1 {
        font-size: 2.3em;
    }
}



/*menu item section*/

.menu-item{
    padding-top: 40px;
    
    padding-bottom: 60px;
    
}

.menu-item .menutext{
    margin: auto;
/*    text-shadow: 2px 2px 2px rgba(2, 2, 2, 1);*/
}


.menu-item h1{
padding-top: 50px;
    color: black;
    font-weight: bolder;
    font-size: 36px;
    text-transform: uppercase;
  font-family: "Poppins", sans-serif;
    font-weight: 500;
    line-height: 44px;
}

.menu-item hr {
    max-width: 50px;
    border-width: 3px;
    border-color: #f05f40;
}

.menu-item.menu-tab{
    margin: auto;

}

.text-center {
    text-align: center !important;
}

.menu-item .filter{
    
    margin-bottom: 40px;
    
}

.menu-item .filter-button{
    margin: 5px;
    display: inline-block;
    cursor: pointer;
    padding: 10px 20px 10px;
    text-transform: uppercase;
    background: #f5f5f5;
    border-radius: 5px;
    font-weight: 700;
    font-size: 13px;
    transition: all 0.3s;
font-family: "Poppins", sans-serif;
color: black !important;

}

.menu-item .filter-button:hover {
    background: #c0996b;
    color: #fff;
}

.menu-item.all-button{
    border: 0px solid white !important;
    
}

.port-image
{
    width: 100%;
    height: 200px;
    
}

.col-md-3
{
    margin-bottom:20px;
}

.each-item
{
    position:relative;
    overflow:hidden;
}

.each-item:hover .cap2, .each-item:hover .cap1
{
    left:0px;
}

.cap1
{
    position:absolute;
    width:100%;
    height:70%;
    background:rgba(255, 255, 255, 0.5);
    top:0px;
    left:-100%;
    padding:10px;
    
    transition: all .5s;
}

.menu-item .each-item h3{
    font-size: 1.7em;
}

.menu-item .each-item p{
    font-weight: 600;
    
}

.menu-item .each-item .cap2 p strong{
    color: white;
/*    font-weight: 700;*/
/*  text-shadow: 4px -6px 5px rgba(124, 106, 14, 1);*/
}

.cap2
{
    position:absolute;
    width:100%;
    height:30%;
    background: rgba(0, 178, 255, 0.5);
/*        background: #c0996b;
        opacity: 0.5;*/
    bottom:0px;
    left:100%;
    padding:10px;

    transition: all .5s;
}










/*footer*/


footer {
    background-color: black;
    opacity: .95;
    height: 70px;
    color: white;

}

#footer-text{
    padding-top: 22px;
    display: inline-block;
}

.copyRightText p {
    color: white;
    text-align: left;
    padding: 20px;

}


/*customer review*/

.customer-review{
    padding-top: 100px;
    padding-bottom: 20px;
    
    
}

.customer-review h3{
    color: black;
        font-weight: 500;
    text-transform: capitalize;
    letter-spacing: -1px;
    line-height: 30px;
    font-size: 36px;
        margin-top: 0;
    font-family: "Poppins", sans-serif;
        color: #333;
        
}

.customer-review .say-paragraph{
    text-transform: capitalize;
    color: #999;
   
 font-size: 15px;
    line-height: 22px;
 
    font-weight: 400;
    
}



.customer-review span{
    font-weight: 400;
    font-family: "Dancing Script", cursive;
    text-transform: lowercase;
    font-size: 60px;
        color: #c0996b;
}
.customer-review .review-message{
    
    margin-bottom: 50px;
    font-size: 22px;
    font-weight: 400;
    line-height: 32px;
    opacity: 1;
    color: #777;
    
}
.carousel-item{
    
    background-color: white;
    height: 400px;
    width: 800px;
    
}

.carousel-item .carousel-caption > img{
    margin-bottom: 20px;
}

.carousel-item .carousel-caption h4{
       margin-bottom: 3px;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    color: #c0996b;
}

.carousel-item .carousel-caption h4 small{
        font-family: "Open Sans", sans-serif;
    color: #777;
    font-size: 80%;
    font-weight: 400;
}

.carousel-item .carousel-caption .fa.fa-star{
        color: #c0996b;
}

.carousel-item .carousel-caption .fa.fa-star-half-o{
        color: #c0996b;
}

/*contact*/

.contact{
    background-color: black;
/*    margin-top: 100px;*/
    padding-top: 150px;
    padding-bottom: 40px;
    height: auto;
}


.contact ul .btn-fb{
 font-size: 22px; 
 padding: 20px 26px;
 width: 200px;
 cursor: pointer;
/*  background-color: #4264aa;*/
  background-color: #3F51B5;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  color: white;
 
}

.contact ul .btn-fb:hover{
   background-color: #0277BD;
   color: black;
   
}
.contact .recent-post li{
    margin: auto;
}

.contact .recent-post li > .image-item{
    float: left;
    margin-right: 15px;
/*        vertical-align: middle;*/
    border-style: none;
}

.contact .margin-b-30 .image-item .fa{
      padding: 20px;
  font-size: 30px;
  width: 200px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
    
}

.contact .margin-b-30 .image-item .fa:hover {
    opacity: 0.7;
}

.contact .margin-b-30 .image-item .fa-facebook {
  background: #3B5998;
  color: white;
}


.contact .margin-b-30 .image-item img{
    width: 200px !important;
    border-radius: 15px;
    height: 100px;
    
    
}

.contact .margin-b-30 h3{
       color: #fff;
    font-weight: 500;
    text-transform: uppercase;
    position: relative;
   border-bottom: 1px solid #c0996b;
    margin-bottom: 30px;
    padding-bottom: 10px;
    font-size: 15px;
    font-family: "Poppins", sans-serif;
    
}

.contact .margin-b-30 p{
       color: #fff;

  
   
  
    font-family: "Poppins", sans-serif;
    
}

.contact .margin-b-30 .lead{
    
    font-size: 1.25rem;
    font-weight: 300;
}

.contact .margin-b-30 .lead a{
       color: #fff;


    
}
.contact hr {
    max-width: 250px;
    border-width:2px;
    border-color: #c0996b;
}


/*footer*/

footer {
background-color: black;
opacity: .95;
    height: 70px;
    color: white;
    
}

#footer-text{
      padding-top: 22px;
    display: inline-block;
}


/*borsha files*/




/* about */

.about-title {
    font-size: 36px;
    font-family: "Poppins", sans-serif;
    text-align: center!important;
    color: #333 !important;
    font-weight: 500;
}

.text-color {
    font-weight: 400;
    font-family: "Dancing Script", cursive;
    text-transform: lowercase;
    font-size: 40px;
    color: #c0996b;
    letter-spacing: -1px;
    line-height: 30px;
}

.about-subtitle {
    text-transform: capitalize;
    color: #999;
    font-weight: 500;
    font-size: 15px;
    line-height: 22px;
    font-family: "Poppins", sans-serif;
    text-align: center!important;
}

.about-paragraph {
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    font-family: "Open Sans", sans-serif;
    color: #666;
}

.about-height {
    height: 100%;
    padding: 30px;
    padding-top: 80px;
    
}

.about-img {
    width: 100%;
    height: 100%;
}

.about-text {
    margin-top: 30px;
}



/* parallax*/

.parallax-inner {
    background: url("http://cdn.30dayssugarfree.com/wp-content/uploads/2016/10/Chicken_Kebabs.jpg") no-repeat fixed 100%;
    background-size: 100% 100%;
    height: 400px;
}

#parallax-inner-lead {
    font-size: 35px !important;
    font-weight: 300;
    color: #fff;
    margin-top: 0;
    margin-bottom: 1rem;
    text-align: center;
    font-family: "Open Sans", sans-serif;
}

.parallax-inner-name {
    font-size: 20px !important;
    font-weight: 300;
    color: #fff;
    margin-top: 0;
    margin-bottom: 1rem;
    text-align: center;
    font-family: "Open Sans", sans-serif;
}

.parallax-text-center {
    /*    padding-left: 90px;*/
    position: relative;
    top: 90px;
}


/* award*/

.award-inner-lead {
    font-size: 16px;
    font-weight: 300;
    color: #fff;
    margin-top: 0;
    margin-bottom: 1rem;
    text-align: center;
    font-family: "Open Sans", sans-serif;
}

.award-heading {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-size: 36px;
    line-height: 44px;
    margin-bottom: 20px;
    color: #fff;
    text-align: center;
}

.award-chef {
    background: url("http://vegavita.at/wp-content/uploads/2015/08/veganerbrunchhead.jpg") no-repeat fixed 100%;
    background-size: 100% 100%;
    height: 400px;
}

.parallax-text-center-award {
    position: relative;
    top: 90px;
}


/*table*/

.table-inner-lead {
    font-size: 16px;
    font-weight: 300;
    color: #fff;
    margin-top: 0;
    margin-bottom: 1rem;
    text-align: center;
    font-family: "Open Sans", sans-serif;
}

.book-table {
    background: url("http://cdn.30dayssugarfree.com/wp-content/uploads/2016/04/Grilled_Cilantro_Lime_Chicken.jpg") no-repeat fixed 100%;
    background-size: 100% 100%;
    height: 400px;
}

.table-heading {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-size: 36px;
    line-height: 44px;
    margin-bottom: 20px;
    color: #fff;
    text-align: center;
}

#button-download {
    position: absolute;
    left: 50%;
    top: 15em;
    transform: translate(-50%, -50%);
    font-weight: 700;
    text-transform: uppercase;
    border: none;
    border-radius: 100px;
    padding: 12px 30px 10px;
    font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
    text-align: center;
    white-space: nowrap;
    font-size: 13px;
    background-color: #fff;
    color: #333;
}

#button-download:hover {
    background: #333;
    color: #fff;
}




/* 1st parallax media*/

@media (max-width: 320px) {
    #parallax-inner-lead {
        font-size: 1.1em !important;
    }
    .parallax-inner-name {
        font-size: 0.9em !important;
    }
}

@media (min-width: 320px) and (max-width: 374px) {
    #parallax-inner-lead {
        font-size: 1.4em !important;
    }
    .parallax-inner-name {
        font-size: 1.1em !important;
    }
}

@media (min-width: 375px) and (max-width: 667px) {
    #parallax-inner-lead {
        font-size: 1.7em !important;
    }
    .parallax-inner-name {
        font-size: 1.4em !important;
    }
}

@media (min-width: 668px) and (max-width: 767px) {
    #parallax-inner-lead {
        font-size: 1.9em !important;
    }
    .parallax-inner-name {
        font-size: 1.5em !important;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    #parallax-inner-lead {
        font-size: 1.9em !important;
    }
    .parallax-inner-name {
        font-size: 1.5em !important;
    }
}

@media (min-width: 992px) and (max-width: 1200px) {
    #parallax-inner-lead {
        font-size: 1.9em !important;
    }
    .parallax-inner-name {
        font-size: 1.5em !important;
    }
}


/* award chef parallax media*/

@media (max-width: 320px) {
    .award-heading {
        font-size: 1.1em !important;
    }
    .award-inner-lead {
        font-size: 0.9em !important;
    }
    .parallax-text-center-award {
        position: relative;
        top: 3px;
    }
}

@media (min-width: 320px) and (max-width: 374px) {
    .award-heading {
        font-size: 1.3em !important;
    }
    .award-inner-lead {
        font-size: 0.9em !important;
    }
    .parallax-text-center-award {
        position: relative;
        top: 5px;
    }
}

@media (min-width: 375px) and (max-width: 667px) {
    .award-heading {
        font-size: 1.7em !important;
    }
    .award-inner-lead {
        font-size: 1.0em !important;
    }
    .parallax-text-center-award {
        position: relative;
        top: 4px;
    }
}

@media (min-width: 668px) and (max-width: 767px) {
    .award-heading {
        font-size: 1.9em !important;
    }
    .award-inner-lead {
        font-size: 1.0em !important;
    }
    .parallax-text-center-award {
        position: relative;
        top: 5px;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .award-heading {
        font-size: 1.9em !important;
    }
    .award-inner-lead {
        font-size: 1.0em !important;
    }
    .parallax-text-center-award {
        position: relative;
        top: 15px;
    }
}

@media (min-width: 992px) and (max-width: 1200px) {
    .award-heading {
        font-size: 2em !important;
    }
    .award-inner-lead {
        font-size: 1.0em !important;
    }
    .parallax-text-center-award {
        position: relative;
        top: 20px;
    }
}


/* book a table parallax media*/

@media (max-width: 320px) {
    .table-heading {
        font-size: 1.2em !important;
    }
    .table-inner-lead {
        font-size: 0.9em !important;
    }
    .book-table {
        position: relative;
        top: 3px;
    }
    #button-download {
        position: relative;
        top: 13px;
    }
}

@media (min-width: 320px) and (max-width: 374px) {
    .table-heading {
        font-size: 1.2em !important;
    }
    .table-inner-lead {
        font-size: 0.9em !important;
    }
    .book-table {
        position: relative;
        top: 3px;
    }
    #button-download {
        position: relative;
        top: 13px;
    }
}

@media (min-width: 375px) and (max-width: 667px) {
    .table-heading {
        font-size: 1.2em !important;
    }
    .table-inner-lead {
        font-size: 0.9em !important;
    }
    .book-table {
        position: relative;
        top: 3px;
    }
    #button-download {
        position: relative;
        top: 13px;
    }
}

@media (min-width: 668px) and (max-width: 767px) {
    .table-heading {
        font-size: 1.2em !important;
    }
    .table-inner-lead {
        font-size: 0.9em !important;
    }
    .book-table {
        position: relative;
        top: 3px;
    }
    #button-download {
        position: relative;
        top: 13px;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .table-heading {
        font-size: 1.2em !important;
    }
    .table-inner-lead {
        font-size: 0.9em !important;
    }
    .book-table {
        position: relative;
        top: 3px;
    }
    #button-download {
        position: relative;
        top: 13px;
    }
}

@media (min-width: 992px) and (max-width: 1200px) {
    .table-heading {
        font-size: 1.5em !important;
    }
    .table-inner-lead {
        font-size: 0.9em !important;
    }
    .book-table {
        position: relative;
        top: 3px;
    }
    #button-download {
        position: relative;
        top: 13px;
    }
}



/*gallery images*/

.gallery{
    padding-bottom: 60px;
    
}



.gallery .menutext{
    margin: auto;
/*    text-shadow: 2px 2px 2px rgba(2, 2, 2, 1);*/
}
.gallery .menutext h1{
    padding-top: 50px;
   
    color: black;
    font-weight: bolder;
    font-size: 36px;
    text-transform: uppercase;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    line-height: 44px;
}

.gallery .menutext hr {
    max-width: 50px;
    border-width: 3px;
    border-color: #f05f40;
}

.gallery .all-images{
    
    padding-top: 20px;
    
}
.gallery .light-images{
    margin-bottom: 30px;

    
    
}